.content-box{
    padding: 0;
}

.content{
    min-height: 100vh;
    text-align: center;
    display: grid;
    place-content: center;
    
    
}
.content:nth-child(odd){
    background: rgba(12, 12, 12, 0.5) 
}

.content:nth-child(even){
    background-color: rgb(54, 54, 54,0.5)

}

.content h1{
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 80px;
    color: var(--pink);
}

.content p{
    padding: 20px;
    font-size: 15px;
    font-weight: 600;
    line-height: 200%;
}

/**Vanilla Js Animation**/
.hidden{
    opacity:0;
    transition: all 1s;
    transform: translateX(-50%);
}

.show{
    opacity:1;
    transform: translateX(0%);
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

@media(max-width:991px){
    .content h1{
        font-size: 40px;

    }
    
    .content p{
        font-size: 12px;
    }
}
