:root{
    --pink: rgb(245, 61, 83);
    --pinker: rgb(218, 11, 36);
    --white: rgb(232, 232, 232);
    --black : rgb(27, 26, 31);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:var(--white);
    background-repeat: no-repeat;
    background: rgb(0,0,0,0.7)url("../img/login.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode:multiply;
}

.nav-item{
    text-align: center;
}

.activeTab {
    width: 100%;
    height: 108%;
    border-radius: 7px/7px;
    background: linear-gradient(0deg,var(--pinker) -100%,transparent);
    font-weight: bold;
    color: var(--pink);
    pointer-events: none;
}

ul{
    list-style: none;
}

.drop-down{
    cursor: pointer;
}

.drop-down_content{
    position: absolute;
    display: none;
    width: 130px;
    top: 100%;
    right: 20px;
    background: var(--black);
    border-radius: 10px;
    padding: 15px;
    z-index: 999;
    transform: translateY(50%);
}

.drop-down_content.open{
    display: block;
    transform: translateY(0%);
}

.drop-down_content>a{
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--pink);
    margin-bottom: 5px;
    opacity: 0.8;
    cursor: pointer;
    text-decoration: none;
}

.drop-down_content>a:hover{
    opacity: 1;
}

.drop-down_content>hr{
    margin: 0 0 10px;
}

.border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--pink)!important;
}

.btn:hover, .btn:active {
    color: var(--pinker);
    background-color: var(--bs-btn-hover-bg);
    border: none ;
}

.text-pink,.navbar-brand,.nav-link:hover{
    color: var(--pink);
}

.text-pinker{
    color:var(--pinker)
}

a.text-pink:hover{
    color:var(--white);
}

.logo{
    width:20px;
    height: 100%;
}

#signup{
    color:var(--white);
    text-decoration: none;
    background-color: rgb(51, 51, 51);
}

#signup:hover{
    background-color:var(--pink) ;
}

/* Scroll Bar */

::-webkit-scrollbar{
    background: transparent;
    box-shadow: 0 0 5px var(--pinker) inset;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background: var(--pinker);
    border-radius: 10px;
}

@media (max-width:991px){
    .sidebar{
        background-color: rgb(0,0,0,0.1);
        backdrop-filter: blur(10px);
    }
    .drop-down_content.open {
        display: block;
        top: 77%;
        left: 53%;
    }
    
}



