.contentA{
    display: none;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 65px;
    font-weight: bold;
    color: var(--pink);
}

.form{
    height: 400px;
    width: 300px;
    margin: 7% auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
}

.signup{
    width:100%;
    height: 100%; 
}

label{
    color:white;
    font-size: 2.3rem;
    cursor:pointer;
    transition: 0.5s ease-in-out;
}

.login{
    height: 460px;
    width:100%;
    background-color: rgb(245, 63, 84,0.7);
    border-radius: 50%/10%;
    transform:translateY(-55px) ;
    transition: 0.5s ease-in-out;
}

.login label{
    color:white;
    transform: scale(0.6);
}

.login button{
    background-color: var(--pinker);
    color: white;
}

input{
    width:70%;
    height:40px;
    border: none;
    border-radius: 7px;
    margin-bottom: 5px;
}

.login input{
    background-color: rgb(233, 233, 233);
}

.button{
    width:50%;
    height: 40px;
    background-color: var(--pink);
    color:white;
    font-weight: bold;
    font-size: 1rem;
    border:none;
    border-radius: 5px;
    margin-bottom: 15px;
}

.button:hover{
    background-color: var(--pinker);
}

.button:active{
    transform: scale(0.98);
}

#hidden-btn{
    display: none;
}

#hidden-btn:checked~.login{
    transform: translateY(-330px);
    background-color: var(--pink);
}

#hidden-btn:checked~.login label{
    transform: scale(1);
}

#hidden-btn:checked~.signup label{
    transform: scale(0.6);
}

@media (max-width:991px){
    .content h1{
        font-size: 50px;
    }
    .content{
        font-size: 95%;
        display: none;
    }
    .contentA{
        display: block;
        font-family: 'Times New Roman';
    }
}
