body{
    overflow: hidden;
}

.navbar{
    border-bottom: none !important;
}

.content{
    animation-duration: 1.5s;
    animation-name: slidein;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: clamp(50px,5vw,80px);
    font-weight: bold;
    color: var(--pink);
}

p{
    color: var(--white);
}

/**Animating object.**/
@keyframes slidein{
    from{
        transform: translateX(-50%);
        transition: ease-in;
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}

/* signup/login */

.form{
    height: 450px;
    width: 400px;
    margin: 7% auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden; 
}

form {
    margin-block-end: 0em;
}

.signup{
    width:100%;
    height: 100%;
    transition: 0.5s ease-in-out;
}

form label[for="hidden-btn"]{
    color:var(--white);
    font-size: 2.3rem;
    cursor:pointer;
    transition: 0.5s ease-in-out;
}

.login{
    height: 460px;
    width:100%;
    background-color: var(--black);
    border-radius: 50%/10%;
    transform:translateY(-55px) ;
    transition: 0.5s ease-in-out;
}

.login label[for="hidden-btn"]{
    color:var(--pink);
    transform: scale(0.6);
}

.login button{
    background-color: var(--pinker);
    color: var(--white);
}

.signup-input,.login-input{
    width: 70%;
}

input{
    width:100%;
    height:40px;
    font-size: 20px;
    padding-inline: 5%;
    outline: none;
    background: none;
    border: 2px solid var(--pinker);
    border-radius: 15px;
    margin-bottom: 20px;
}

/* Placeholder Animation */

.signup-input,.login-input{
    position: relative;
}
.signup-input label,.login-input label{
    position: absolute;
    left: 5%;
    top: 5%;
    font-size: 20px;
    pointer-events: none;
    transition: 0.3s linear;
}
.signup-input input,.signup-input input:-webkit-autofill,
.signup-input label{
    color: var(--pink);
}
.login-input input,.login-input input:-webkit-autofill,
.login-input label{
    color: var(--pinker);
    border-color: var(--pinker);
}
.login-input input:focus ~ label,
.signup-input input:focus ~ label,
.login-input input:valid ~ label,
.signup-input input:valid ~ label{
    transform: scale(0.8);
    top: -41%;
    left: 0;
}

.button{
    width:50%;
    height: 40px;
    background-color: var(--pink);
    color: var(--white);
    font-weight: bold;
    font-size: 1rem;
    border:none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 15px;
}

.button:hover{
    background-color: var(--pinker);
}

.button:active{
    transform: scale(0.98);
}

/* Form Animation */

#hidden-btn{
    display: none;
}

#hidden-btn:checked~.login{
    transform: translateY(-82%);
    background-color: var(--black);
}

#hidden-btn:checked~.login label[for="hidden-btn"]{
    transform: scale(1);
}

#hidden-btn:checked~.signup label[for="hidden-btn"]{
    transform: scale(0.6);
}

/**for transition animation (Vanilla js)**/

.hidden{
    opacity: 0;
    transform: translateY(50%);
    transition: all 1.5s;
}

.show{
    opacity: 1;
    transform: translateY(0%);
}

@media(prefers-reduced-motion){  /**To detect if the user turnen on reduced motions in browser**/
    .hidden{
        transition: none;
    }
}

/**Responsiveness**/
@media (max-width:991px){
    body{
        overflow: auto;
        margin-bottom: 50px;
    }
    .content{
        min-height : 100vh;
        padding: 30px;
        display: flex;
        flex-direction:column ;
    }
}
