body{
    overflow: hidden;
}

.content{
    animation-duration: 1.5s;
    animation-name: slidein;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: clamp(50px,50%,64px);
    font-weight: bold;
    color: var(--pink);
}

p{
    color: var(--white);
}

/**Animating object.**/
@keyframes slidein{
    from{
        transform: translateX(-50%);
        transition: ease-in;
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}

.form{
    height: 400px;
    width: 300px;
    margin: 7% auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden; 
}

form {
    margin-block-end: 0em;
}

.signup{
    width:100%;
    height: 100%;
    transition: 0.5s ease-in-out;
}

label{
    color:var(--white);
    font-size: 2.3rem;
    cursor:pointer;
    transition: 0.5s ease-in-out;
}

.login{
    height: 460px;
    width:100%;
    background-color: rgb(245, 63, 84,0.7);
    border-radius: 50%/10%;
    transform:translateY(-55px) ;
    transition: 0.5s ease-in-out;
}

.login label{
    color:var(--white);
    transform: scale(0.6);
}

.login button{
    background-color: var(--pinker);
    color: var(--white);
}

input{
    width:70%;
    height:40px;
    border: none;
    border-radius: 7px;
    margin-bottom: 5px;
}

.login input{
    background-color: var(--white);
}

.button{
    width:50%;
    height: 40px;
    background-color: var(--pink);
    color: var(--white);
    font-weight: bold;
    font-size: 1rem;
    border:none;
    border-radius: 5px;
    margin-bottom: 15px;
}

.button:hover{
    background-color: var(--pinker);
}

.button:active{
    transform: scale(0.98);
}

#hidden-btn{
    display: none;
}

#hidden-btn:checked~.login{
    transform: translateY(-330px);
    background-color: var(--pink);
}

#hidden-btn:checked~.signup{
    background-color: var(--black);
}

#hidden-btn:checked~.login label{
    transform: scale(1);
}

#hidden-btn:checked~.signup label{
    transform: scale(0.6);
}

/**for animation (Vanilla js)**/

.hidden{
    opacity: 0;
    transform: translateY(50%);
    transition: all 1.5s;
}

.show{
    opacity: 1;
    transform: translateY(0%);
}

@media(prefers-reduced-motion){  /**To detect if the user turnen on reduced motions in browser**/
    .hidden{
        transition: none;
    }
}

/**Responsiveness**/
@media (max-width:991px){
    body{
        overflow: auto;
        margin-bottom: 50px;
    }
    .content{
        min-height : 100vh;
        padding: 30px;
        display: flex;
        flex-direction:column ;
    }
}
